extends layout
block content
  .container
    if messages && messages.length
      each msg in messages
        .alert.alert-danger
          span= msg

    if datasets && datasets.length
      canvas(id="canvas", width="250", height="100")
      div(id="stock_chart", style="width: 900px; height: 500px")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
        script.
          var ctx = document.getElementById("canvas").getContext('2d');
          var myChart = new Chart (ctx, {
            type: 'line',
            data: {
              labels: [#{xvalues}],
              datasets: !{datasets}
            },
            options: {
              responsive: true,
              title:{
                display:true,
                text:'Chart.js Line Chart - Logarithmic'
              },
              tooltips: {
                mode: 'index',
                intersect: true
              },
              scales: {
                xAxes: [{
                    display: false,
                    min: 0,
                }],
                yAxes: [{
                    display: true,
                }]
              }
            }
          });

